*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.header
{
	background: rgb(255,255,255);
	text-align: left;
	padding: 30px;
  	color: white;
 	font-size: 30px;
}
body
{
	background-image:url("https://media.istockphoto.com/vectors/abstract-hexagon-wallpaper-white-background-3d-vector-illustration-vector-id1212342896?k=20&m=1212342896&s=612x612&w=0&h=fp3B4g_hE54snO4Nf1ggElVnI0gD9s7tPd5JU0eFl9Q");
	background-size: cover;
	background-position:center;
	font-family: sans-serif;
}
.menu-bar
{
	background:rgb(0,0,128);
	text-align: left;
}
.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: #FFFFFF;
}
.menu-bar ul li
{
	width: 120px;
	margin: 15pb;
	padding: 15px;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: #FFFFFF;
}
.active,.menu-bar ul li:hover
{
	background: #000080;
	border-radius: 3px;
}
label {
  background-color: white;
  color: black;
  font-family: sans-serif;
  text-align: center
  font-size: xx-small;
}

.box{
    width: 400px;
    height: 200px;
    border: 3px solid black;
    margin: 100bp;
    padding: 15px;
    align-items: center;
    background-color: #FDF5E6;

}


.box1{
    width: 400px;
    height: 100px;
    border: 3px solid black;
    margin: 100bp;
    padding: 15px;
    align-items: center;
    background-color: #F0FFFF;
}

.vertical {
            border-left: 6px solid black;
            height: 200px;
            position:absolute;
            left: 50%;
            margin-left: -3px;
        }
.center {
  margin-left: auto;
  margin-right: auto;
}
